.footer {
  background: #1a5186;
  margin-top: 100px;
  padding: 64px 63px 31px;
  &__nav {
    display: flex;
    margin-bottom: 68px;
    justify-content: space-between;
    align-items: center;
    &__logo {
      font-family: "Logo";
      font-size: 40px;
      color: #e1eef6 !important;
    }
    &__list {
      display: flex;
      gap: 60px;
      &__item {
        &__link {
          color: #e1eef6 !important;
          font-size: 16px;
          position: relative;
          top: 7px;
        }
      }
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    &__p {
      color: #e1eef6 !important;
      font-size: 20px;
    }
    &__tel {
      color: #e1eef6 !important;
      font-weight: 700;
      font-family: "MainFontH";
      display: flex;
      align-items: center;
    }
    &__icon {
      max-width: 24px;
    }
  }
  &__contacts {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 18px;
    &__href {
      color: #e1eef6 !important;
    }
    &__icon {
      max-width: 24px;
    }
  }
  &__co {
    text-align: center;
    font-size: 12px;
    color: #efefef;
    font-family: "MainFont";
  }
}

@media (max-width: 1150px){
.footer {
    padding: 64px 2% 32px;
}
.footer__nav {
  flex-direction: column;
}
.footer__nav__logo{
  margin-bottom: 45px;
  text-align: center;
}
}
@media (max-width: 710px){
.footer__nav__list{
  flex-direction: column;
  text-align: center;
  gap: 24px;

}

.footer__info {
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 30px;
}
}
@media (max-width: 400px){
.footer__nav__logo{
  font-size: 32px;
}
}
@media (max-width: 330px){
.footer__nav__logo{
  font-size: 24px;
}
}
