.header {
  width: 100%;
  background: #e1eef6ab;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 22px 0;
  &__mobile{
    display: none;
  }
  &__logo {
    font-family: "Logo";
    font-size: 24px;
    font-weight: 400;
  }
  .hidden__logo {
    font-family: "Logo";
    font-size: 18px;
    font-weight: 400;
  }
  &__contacts {
    // width: 30%;
    gap: 30px;
    display: flex;
    align-items: center;
    // font-size: 1.1vw;
    justify-content: flex-end;

    &__icon {
      width: 24px;
    }
  }
  &__list {
    display: flex;

    align-items: center;
    gap: 40px;
    font-weight: 400;
    // font-style: normal;
    font-size: 18px;
    // text-transform: uppercase;
    justify-content: space-between;

    &__item {
      color: #6f6f70;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

a {
  color: #393652;
}
.hidden__logo {
  display: none;
}
.nav__mobile__btn {
  display: none;
  // background: #e1eef6ab;
  //   height: 200px;
  //   padding: 0;
  &__menu {
    display: none;
  }
  &__close {
    display: none;
    &__img{
      width: 28px;
      height: 28px;
    }
  }
}

@media (max-width: 1040px) {
  .nav__list {
    display: none;
  }
  .nav__mobile{
    display: block;
      width: 100%;
      background: #e1eef6ab
  }
  .nav__mobile__el {
        display: flex;
        padding: 3%;
        width: 100%;
        margin-top: 30px;
        justify-content: space-between;
}
.nav__mobile__btn {
  display: block;
}
  .nav__mobile__btn__menu {
    display: block;
    width: 28px;
    transition: 0.3s;
    cursor: pointer;
  }
  .nav__mobile__contacts{
    display: flex;
    gap: 10px;
    padding-top: 20px;
  }
  .nav__contacts {
    display: none;
  }
  .nav__mobile__btn__menu__el{
    display: none;
    margin: 0 auto;
  }
  .nav__mobile__btn__close{
    margin-top: -94px;

  }
  .nav__mobile__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
  }

}
@media (max-width: 500px) {
  .nav__logo {
    display: none;
  }
  .hidden__logo {
    display: block;
  }
  .nav__mobile__btn__menu {
    width: 24px;
  }
}
