.header {
    width: 100%;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    &__container {
        // max-width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px 0;
    }


}


.nav {
    margin: auto;
    &__list {
        display: flex;
        height: 60px;
        align-items: center;
        gap: 30px;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        text-transform: uppercase;
    
        &__item {
            color: black;
        }
    }
}


a {
    color: black;
}