.help__title {
  max-width: 560px;
  position: relative;
  &__img {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  &__text {
    margin: 0 auto 60px;
    text-align: left;
  }
}

.help__list {
  display: flex;
  flex-direction: column;
  gap: 22px;

  &__top {
    display: grid;
    grid-template-columns: 57.7% 1fr;
    gap: 22px;
    margin: 0 auto;
    &__item {
      padding: 44px 34px;
      background-color: #fbfdff;
      border-radius: 25px;
      &:first-child {
        border: 2px dashed #b1c0cf;
      }
      &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        &__number {
          font-size: 64px;
          font-weight: 600;
          color: #4482bf;
        }
      }
      &__elem {
        max-width: 535px;
        margin-bottom: 28px;
        &__grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 10px;
          max-width: 640px;
          margin-bottom: 28px;
        }

        &__el {
          position: relative;
          padding-left: 30px;
          font-weight: 600;
          font-size: 16px;
          // margin-bottom: 12px;

          &::before {
            content: "";
            background-image: url(../img/svg/dot.svg);
            position: absolute;
            left: 0;
            top: 32%;
            transform: translateY(-17%);
            width: 11px;
            height: 11px;
            background-repeat: no-repeat;
            background-size: contain;
          }
          &__thin {
            font-weight: 400;
            font-size: 16px;
            color: #1b1a1a;
          }
        }
      }
      &__p {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #1b1a1a;
      }
    }
    &__itemp {
      gap: 22px;
      display: flex;
      flex-direction: column;
      &__img {
        border-radius: 25px;
      }
      &__quote {
        background-color: #1a5186;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        padding: 26px 42px 41px 34px;
        border-radius: 25px;
        &__svg {
          width: 30px;
        }
        &__blockquote {
          font-family: "MainFont";
          color: #ffffff;
          font-weight: 500;
          max-width: 397px;
          font-size: 20px;
        }
      }
    }
  }
  .hint__img {
    display: none;
  }
  &__bottom {
    display: grid;
    grid-template-columns: 1fr 57.7%;
    gap: 22px;
    &__item {
      padding: 41px 34px;
      background-color: #fbfdff;
      border-radius: 25px;
      &:last-child {
        border: 2px dashed #b1c0cf;
      }
      &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        &__number {
          font-size: 64px;
          font-weight: 600;
          color: #4482bf;
        }
      }
      &__elem {
        &__el {
          position: relative;
          padding-left: 30px;
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 12px;

          &::before {
            content: "";
            background-image: url(../img/svg/dot.svg);
            position: absolute;
            left: 0;
            top: 32%;
            transform: translateY(-17%);
            width: 11px;
            height: 11px;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
      &__p {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #1b1a1a;
      }
    }
    &__itemp {
      width: 100%;
      height: 100%;
      &__img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
      }
    }
  }
}
@media (max-width: 1300px) {
  // .help__list__top {
  //   grid-template-columns: repeat(2, 1fr);
  // }
  // .help__list__bottom {
  //   grid-template-columns: repeat(2, 1fr);
  // }

  .help__img,
  .help__list__bottom__itemp__img {
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1000px) {
  .hint__img {
    display: block;
    max-height: 500px;
    object-fit: cover;
    object-position: top;
  }
  .help__list__bottom__itemp__img {
    max-height: 500px;
    object-fit: cover;
  }

  .help__list__top__itemp {
    display: none;
  }
  .help__list__top {
    display: flex;
    flex-direction: column;
  }

  .help__list__bottom {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  .help__title {
    max-width: 400px;
    margin: auto;
  }
  .help__title__text {
    text-align: center;
  }
  .help__title__img {
    left: 50%;
  }
  .help__list__top__item__elem__el {
    padding-left: 20px;
  }
  .help__list__top__item__elem__el::before {
    width: 8px;
    height: 8px;
  }
  .help__list__bottom__item__elem__el::before {
    width: 8px;
    height: 8px;
  }
}
@media (max-width: 600px) {
  .help__list__top__item__elem__grid {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .help__list__top__item__head__number {
    font-size: 48px;
  }
  .help__list__bottom__item__head__number {
    font-size: 48px;
  }
}
@media (max-width: 440px) {
    .help__list__top__item__head__number {
    font-size: 40px;
  }
  .help__list__bottom__item__head__number {
    font-size: 40px;
  }
}
