@charset "UTF-8";
@font-face {
  font-family: "Logo";
  src: url("../fonts/Pacifico/Pacifico-Regular.ttf"); }
@font-face {
  font-family: "MainFont";
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf"); }
@font-face {
  font-family: "MainFontH";
  src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf"); }
* {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  margin: 0rem;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e1eef6;
  color: #4a4949; }

ul,
p,
h1,
h2,
h4,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

ul > li {
  list-style: none; }

ul {
  font-family: "MainFont"; }

li {
  font-family: "MainFont";
  position: relative; }

a {
  text-decoration: none;
  cursor: pointer; }

b {
  font-family: "MainFont";
  font-size: 3rem; }

img {
  width: 100%;
  background-size: cover; }

button {
  appearance: none;
  background: none;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: pointer; }

input {
  outline: none;
  border: none; }

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; }

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%; }

.wrapper {
  position: relative;
  width: 100%; }

.container {
  position: relative;
  width: 1278px;
  margin: 40px auto; }

h1 {
  color: #1a5186;
  font-size: 60px;
  font-family: "MainFontH"; }

h2 {
  font-size: 48px;
  font-family: "MainFontH";
  color: #1a5186; }

h3 {
  font-weight: 600;
  font-size: 24px;
  font-family: "MainFontH"; }

h4 {
  font-size: 24px;
  font-family: "MainFont";
  color: #0e0e0e;
  margin-bottom: 28px;
  text-transform: uppercase; }

h5 {
  height: 36px;
  font-family: 'MainFont';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #1A5186; }

p {
  font-family: "MainFont";
  font-size: 16px;
  font-weight: 400;
  color: #6f6f70; }

span {
  font-family: "MainFont";
  color: #0e0e0e;
  font-size: 20px;
  font-weight: 400; }

:root {
  --bg-color: #97b9cd; }

.header {
  width: 100%;
  background: #e1eef6ab;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 22px 0; }

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__logo {
    font-family: "Logo";
    font-size: 24px;
    font-weight: 400; }
  .nav__contacts {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .nav__contacts__icon {
      width: 24px; }
  .nav__list {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 400;
    font-size: 18px;
    justify-content: space-between; }
    .nav__list__item {
      color: #6f6f70; }

a {
  color: #393652; }

.start__container {
  display: flex;
  margin-top: 76px;
  background-color: #fbfdff;
  border-radius: 50px;
  border: 2px dashed #b1c0cf;
  padding: 32px; }

.start__hero {
  max-width: 40%;
  margin: auto; }
.start__heroInfo {
  font-family: "MainFont";
  max-width: 60%;
  margin: auto; }
  .start__heroInfo__base {
    font-size: 24px;
    color: #0e0e0e;
    font-weight: 500;
    display: flex;
    gap: 25px;
    margin-bottom: 10px; }
    .start__heroInfo__base__activity {
      position: relative;
      padding-left: 20px; }
      .start__heroInfo__base__activity::before {
        content: "";
        background-image: url(../img/dot.svg);
        position: absolute;
        left: 0;
        top: 30%;
        transform: translateY(-5%);
        width: 11px;
        height: 11px;
        background-repeat: no-repeat; }
.start__info {
  font-size: 1.2vw;
  line-height: 25px;
  color: #63676c;
  margin-top: 12px; }

button {
  width: auto;
  height: 45px;
  border-radius: 25px;
  background-color: #1a5186;
  color: #ffffff;
  line-height: 150%;
  padding: 28px 55px;
  font-size: 24px;
  font-weight: 500;
  font-family: "MainFont";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 42px; }

button:hover {
  background-color: #276eb3; }

.help__title {
  width: 560px;
  position: relative; }
  .help__title__img {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%); }
  .help__title__text {
    margin: 168px auto 60px;
    text-align: left; }

.help__list {
  display: flex;
  flex-direction: column;
  gap: 22px; }
  .help__list__top {
    display: grid;
    grid-template-columns: 57.7% 1fr;
    gap: 22px;
    margin: 0 auto; }
    .help__list__top__item {
      padding: 44px 34px;
      background-color: #fbfdff;
      border-radius: 25px; }
      .help__list__top__item:first-child {
        border: 2px dashed #b1c0cf; }
      .help__list__top__item__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase; }
        .help__list__top__item__head__number {
          font-size: 64px;
          font-weight: 600;
          color: #4482bf; }
      .help__list__top__item__elem {
        max-width: 535px;
        margin-bottom: 28px; }
        .help__list__top__item__elem__grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 10px;
          max-width: 640px;
          margin-bottom: 28px; }
        .help__list__top__item__elem__el {
          position: relative;
          padding-left: 30px;
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 12px; }
          .help__list__top__item__elem__el::before {
            content: "";
            background-image: url(../img/dot.svg);
            position: absolute;
            left: 0;
            top: 32%;
            transform: translateY(-17%);
            width: 11px;
            height: 11px;
            background-repeat: no-repeat; }
          .help__list__top__item__elem__el__thin {
            font-weight: 400;
            font-size: 16px; }
      .help__list__top__item__p {
        display: flex;
        flex-direction: column;
        gap: 20px; }
    .help__list__top__itemp {
      gap: 22px;
      display: flex;
      flex-direction: column; }
      .help__list__top__itemp__quote {
        background-color: #1a5186;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        padding: 26px 42px 41px 34px;
        border-radius: 25px; }
        .help__list__top__itemp__quote__svg {
          width: 30px; }
        .help__list__top__itemp__quote__blockquote {
          font-family: "MainFont";
          color: #ffffff;
          font-weight: 500;
          max-width: 397px;
          font-size: 20px; }
  .help__list__bottom {
    display: grid;
    grid-template-columns: 1fr 57.7%;
    gap: 22px; }
    .help__list__bottom__item {
      padding: 44px 34px;
      background-color: #fbfdff;
      border-radius: 25px; }
      .help__list__bottom__item:last-child {
        border: 2px dashed #b1c0cf; }
      .help__list__bottom__item__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase; }
        .help__list__bottom__item__head__number {
          font-size: 64px;
          font-weight: 600;
          color: #4482bf; }
      .help__list__bottom__item__elem__el {
        position: relative;
        padding-left: 30px;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 12px; }
        .help__list__bottom__item__elem__el::before {
          content: "";
          background-image: url(../img/dot.svg);
          position: absolute;
          left: 0;
          top: 32%;
          transform: translateY(-17%);
          width: 11px;
          height: 11px;
          background-repeat: no-repeat; }
      .help__list__bottom__item__p {
        display: flex;
        flex-direction: column;
        gap: 20px; }

.advantages__container {
  margin-top: 40px; }
  .advantages__container__element {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .advantages__container__element__item {
      width: 30%;
      border: 1px solid var(--bg-color);
      border-radius: 7px;
      margin-top: 20px;
      padding: 10px 15px; }

h2 {
  text-align: center; }

.price {
  margin-top: 130px; }
  .price__h {
    max-width: 663px;
    margin: auto; }
    .price__h__h2 {
      z-index: 1;
      position: relative;
      max-width: 657px; }
  .price__cloud {
    margin-top: -150px;
    width: 115%;
    margin-left: -10px; }
  .price__el {
    display: flex;
    flex-direction: column;
    gap: 22px; }
    .price__el__button {
      width: 255px;
      height: 54px;
      border: 3px solid #1a5186;
      background-color: #fbfdff;
      color: #1a5186;
      margin: auto 0;
      transition: 0.3s; }
      .price__el__button:hover {
        background-color: #276eb3;
        color: #ffffff;
        border: none; }
    .price__el__item {
      width: 100%;
      background-color: #fbfdff;
      border-radius: 25px;
      padding: 62px 32px;
      line-height: 1.6;
      border: 2px dashed #b1c0cf;
      cursor: pointer;
      transition: 0.3s; }
      .price__el__item:hover {
        border: 2px solid transparent;
        filter: drop-shadow(-51px 45px 27px rgba(0, 0, 0, 0.01)) drop-shadow(-29px 25px 23px rgba(0, 0, 0, 0.05)) drop-shadow(-13px 11px 17px rgba(0, 0, 0, 0.09)) drop-shadow(-3px 3px 9px rgba(0, 0, 0, 0.1)); }
      .price__el__item__info {
        display: flex;
        justify-content: space-between; }
        .price__el__item__info__el__item {
          color: #1A5186;
          font-weight: 600; }
          .price__el__item__info__el__item__arrow {
            width: 10px;
            height: 13px;
            padding-top: 5px; }
        .price__el__item__info__h {
          width: 381px;
          display: flex;
          flex-direction: column;
          justify-content: space-around; }
          .price__el__item__info__h::after {
            content: "";
            height: 2px;
            display: block;
            max-width: 352px;
            background-color: #1a5186; }
        .price__el__item__info__el {
          font-family: "MainFont";
          font-size: 16px;
          color: #6f6f70;
          max-width: 304px; }
        .price__el__item__info__many {
          width: 193px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .price__el__item__info__many__it {
            font-size: 36px;
            color: #1a5186;
            font-family: "MainFontH"; }
    .price__el__end {
      max-width: 420px;
      margin-top: 55px;
      margin-left: auto; }
      .price__el__end__arrow {
        width: 14px;
        height: 19px;
        padding-top: 8px; }
      .price__el__end__h {
        position: relative;
        margin-left: 61px;
        cursor: pointer; }
      .price__el__end__img {
        margin-top: -85px; }

.qualification__title {
  width: 476px;
  position: relative;
  margin: 0 auto 60px;
  text-align: center; }
  .qualification__title__img {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .qualification__title__text {
    margin: 168px auto 0; }

.qualification__info {
  display: flex;
  justify-content: space-between; }
  .qualification__info__univer {
    display: flex;
    flex-direction: column; }
    .qualification__info__univer__h3 {
      text-transform: uppercase; }
    .qualification__info__univer__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      list-style-position: initial;
      align-items: end; }
      .qualification__info__univer__list__el {
        border-bottom: 2px solid #c1c4c7;
        padding-bottom: 8px;
        position: relative;
        padding-right: 120px; }
        .qualification__info__univer__list__el__span {
          font-family: "MainFontH";
          color: #1a5186;
          font-weight: 600;
          font-size: 16px;
          position: absolute;
          right: 0; }
        .qualification__info__univer__list__el.empty {
          border-bottom: 0; }
  .qualification__info__diploma {
    display: flex;
    align-items: center;
    gap: 20px; }
    .qualification__info__diploma__arrow {
      width: 20px; }
    .qualification__info__diploma__imgs {
      display: flex;
      max-width: 484px;
      max-height: 418px;
      padding: 0 95px;
      background: #fbfdff;
      border: 2px dashed #b1c0cf;
      border-radius: 25px; }
      .qualification__info__diploma__imgs__el {
        width: 100%;
        object-fit: cover;
        object-position: center; }

.footer {
  background: var(--bg-color);
  margin-top: 100px; }

.about {
  margin-top: 70px;
  display: flex;
  gap: 24px; }
  .about__cloud {
    margin-top: -120px;
    width: auto; }
  .about__h2 {
    position: relative;
    text-align: left;
    z-index: 1;
    margin-left: 49px; }
  .about__start {
    max-width: 522px; }
    .about__start__about {
      max-width: 300px;
      margin-bottom: 33px; }
    .about__start__quote {
      fill: #63676c; }
      .about__start__quote__el {
        padding: 32px 34px;
        display: flex;
        gap: 18px;
        max-width: 520px;
        max-height: 145px;
        background-color: #fbfdff;
        border: 2px dashed #b1c0cf;
        border-radius: 20px;
        text-transform: uppercase; }
      .about__start__quote__imgAbout {
        border-radius: 64px;
        max-width: 522px;
        max-height: 386px;
        margin-bottom: 22px; }
  .about__end {
    max-width: 734px; }
    .about__end__rectangle {
      background-color: #fbfdffff;
      padding: 32px 70px;
      border-radius: 20px;
      float: right;
      text-transform: uppercase;
      line-height: 150%; }
      .about__end__rectangle__el {
        max-width: 591px;
        height: 81px;
        display: flex;
        gap: 18px; }
    .about__end__info {
      max-width: 593px;
      margin-top: 130px;
      padding-top: 65px; }
      .about__end__info__el {
        text-transform: uppercase;
        margin-top: 31px;
        line-height: 150%; }
        .about__end__info__el__item {
          text-transform: math-auto;
          color: #63676c;
          margin-bottom: 20px;
          position: relative;
          padding-left: 30px; }
          .about__end__info__el__item::before {
            content: "";
            background-image: url(../img/dot.svg);
            position: absolute;
            left: 0;
            top: 15%;
            transform: translateY(-6%);
            width: 11px;
            height: 11px;
            background-repeat: no-repeat; }

.quote {
  width: 30px;
  height: 30px; }

.problems__header {
  width: 705px;
  margin: auto;
  position: relative; }
  .problems__header__h2 {
    margin-bottom: 60px; }
  .problems__header__img {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.reviews__title {
  width: 619px;
  position: relative;
  margin: 0 auto 60px;
  text-align: center; }
  .reviews__title__img {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .reviews__title__text {
    margin: 168px auto 0; }

.reviews__swiper {
  width: 100%;
  overflow: hidden;
  z-index: -1 !important; }

.reviews__info__arrows {
  display: flex;
  justify-content: space-between;
  margin: 0 42px 52px; }
  .reviews__info__arrows__el {
    width: 24px; }
.reviews__info__list {
  display: flex;
  /* Swiper сам управляет этим */
  list-style: none;
  padding: 0;
  margin: 0; }
  .reviews__info__list__el {
    width: 300px;
    /* или любая другая ширина */
    margin-right: 20px;
    /* отступ между слайдами */
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    background-image: url(/img/stars.svg);
    background-position: 50% 20px;
    background-size: 88px;
    background-repeat: no-repeat;
    max-width: 412px;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 98px 43px 42px 34px; }
    .reviews__info__list__el__p {
      color: #000; }
    .reviews__info__list__el__list {
      color: #000; }
      .reviews__info__list__el__list__li {
        list-style: square; }
        .reviews__info__list__el__list__li::marker {
          color: #d9d9d9; }
    .reviews__info__list__el__link {
      display: flex;
      gap: 11px;
      margin-top: 30px;
      font-family: "MainFontH";
      font-size: 18px;
      font-weight: 600;
      color: #1a5186; }
      .reviews__info__list__el__link__img {
        width: 15px; }
