@font-face {
  font-family: "Great";
  src: url("../fonts/GreatVibes-Regular.ttf"); }
@font-face {
  font-family: "MainFont";
  src: url("../fonts/PTSans-Regular.ttf"); }
* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  overflow-x: hidden;
  margin: 0rem;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul > li {
  list-style: none; }

ul {
  font-size: 1.5rem;
  font-family: "MainFont"; }

li {
  font-size: 1.1vw;
  font-family: "MainFont";
  position: relative; }

a {
  text-decoration: none;
  cursor: pointer; }

b {
  font-family: "MainFont";
  font-size: 3rem; }

img {
  background-size: cover; }

button {
  appearance: none;
  background: none;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: pointer; }

input {
  outline: none;
  border: none; }

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield; }

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%; }

.wrapper {
  position: relative;
  width: 100%;
  background: #fdf5db69;
  overflow-x: hidden; }

.container {
  position: relative;
  max-width: 70%;
  width: 100%;
  margin: 40px auto; }

h2 {
  font-size: 1.5vw;
  font-family: "MainFont"; }

h4, span {
  font-size: 1.5rem;
  font-family: "MainFont"; }

:root {
  --bg-color: #659DBD; }

.header {
  width: 100%;
  background: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0; }

.nav {
  font-family: 'MainFont';
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .nav__list {
    width: 65%;
    display: flex;
    height: 60px;
    align-items: center;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    text-transform: uppercase;
    justify-content: space-between; }
    .nav__list__item {
      color: black; }
    .nav__list__contacts {
      width: 30%;
      gap: 30px;
      display: flex;
      align-items: center;
      font-size: 1.1vw; }
      .nav__list__contacts__icon {
        width: 41px; }

a {
  color: black; }

.start__container {
  display: flex;
  margin-top: 135px;
  background-color: var(--bg-color);
  max-width: 70%;
  border-radius: 10px;
  padding: 50px; }
  .start__container__hero {
    max-width: 50%;
    margin: auto; }
    .start__container__hero-img {
      border-radius: 50%;
      background-color: #fdf5db; }
  .start__container__heroInfo {
    font-family: 'MainFont';
    max-width: 50%;
    margin: auto; }
    .start__container__heroInfo-base {
      font-size: 2.5rem;
      color: #ffcda2;
      font-weight: 800; }
  .start__container__info {
    font-size: 1.2vw;
    line-height: 25px;
    color: #fdf5db;
    margin-top: 40px; }

p {
  margin-bottom: 1.5rem; }

.skills__container {
  margin-top: 45px;
  font-family: 'MainFont';
  font-size: 1vw; }
.skills__info {
  margin: auto;
  padding-top: 30px; }
.skills__list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px; }
  .skills__list__item, .skills__list__item-reverse {
    display: flex;
    gap: 5px;
    width: 100%;
    height: 500px;
    justify-content: space-around;
    justify-content: center; }
    .skills__list__item:before, .skills__list__item-reverse:before {
      display: none; }
    .skills__list__item-reverse, .skills__list__item-reverse-reverse {
      display: flex;
      flex-direction: row-reverse; }
    .skills__list__item__img, .skills__list__item-reverse__img {
      width: 700px; }
      .skills__list__item__img__el, .skills__list__item-reverse__img__el {
        width: 100%;
        height: 95%;
        background-size: cover;
        border-radius: 5px; }
    .skills__list__item__el, .skills__list__item-reverse__el {
      display: flex;
      flex-direction: column;
      width: 50%;
      align-items: flex-start;
      gap: 20px;
      margin: auto; }
      .skills__list__item__el__title, .skills__list__item-reverse__el__title {
        font-weight: 800;
        text-align: left;
        font-size: 1vw;
        margin-bottom: 5px;
        text-transform: uppercase;
        text-decoration: underline; }
      .skills__list__item__el__text, .skills__list__item-reverse__el__text {
        font-weight: 500;
        text-align: left;
        font-size: 1vw; }
        .skills__list__item__el__text:before, .skills__list__item-reverse__el__text:before {
          content: '-';
          margin-right: 5px; }

.advantages__container {
  margin-top: 40px; }
  .advantages__container__element {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .advantages__container__element__item {
      width: 30%;
      border: 1px solid var(--bg-color);
      border-radius: 7px;
      margin-top: 20px;
      padding: 10px 15px; }

h2 {
  text-align: center; }

.price__container {
  margin-top: 40px; }
  .price__container__el {
    display: flex;
    flex-direction: column; }
    .price__container__el__item {
      height: 620px;
      border: 4px solid var(--bg-color);
      border-radius: 5px;
      padding: 40px 30px;
      line-height: 1.6;
      margin-top: 20px; }
      .price__container__el__item > ul {
        text-align: left; }

.qualification__container__info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  line-height: 2; }

.footer {
  background: var(--bg-color);
  margin-top: 100px; }
