@charset "UTF-8";
@font-face {
  font-family: "Great";
  src: url("../fonts/GreatVibes-Regular.ttf"); }
@font-face {
  font-family: "MainFont";
  src: url("../fonts/PTSans-Regular.ttf"); }
* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  overflow-x: hidden;
  margin: 0rem;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul > li {
  list-style: none; }

ul {
  font-size: 1.5rem;
  font-family: "MainFont"; }

li {
  font-size: 1.5rem;
  font-family: "MainFont";
  position: relative;
  padding-left: 20px; }

li::before {
  content: '✔';
  position: absolute;
  left: 0;
  color: var(--bg-color);
  font-size: 20px; }

a {
  text-decoration: none;
  cursor: pointer; }

b {
  font-family: "MainFont";
  font-size: 3rem; }

img {
  width: 100%;
  background-size: cover; }

button {
  appearance: none;
  background: none;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: pointer; }

input {
  outline: none;
  border: none; }

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield; }

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%; }

.wrapper {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  overflow-x: hidden; }

.container {
  position: relative;
  max-width: 70%;
  width: 100%;
  margin: 40px auto; }

h2 {
  font-size: 2rem;
  font-family: "MainFont"; }

h4, span {
  font-size: 1.5rem;
  font-family: "MainFont"; }

:root {
  --bg-color: #3EA6F4
  ; }

.header {
  width: 100%;
  background: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0; }

.nav {
  margin: auto; }
  .nav__list {
    display: flex;
    height: 60px;
    align-items: center;
    gap: 30px;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-transform: uppercase; }
    .nav__list__item {
      color: black; }

a {
  color: black; }

.start__container {
  display: flex;
  margin-top: 225px; }
  .start__container__hero {
    max-width: 50%; }
  .start__container__heroInfo {
    font-family: 'MainFont';
    max-width: 50%; }
    .start__container__heroInfo-base {
      font-size: 2.5rem; }
  .start__container__info {
    font-size: 20px;
    line-height: 30px; }

p {
  margin-bottom: 1.5rem; }

button {
  width: auto;
  height: 45px;
  border-radius: 25px;
  background-color: var(--bg-color);
  padding: 35px 50px;
  font-size: 2rem;
  font-family: "MainFont";
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  margin: auto; }

.skills__container {
  margin-top: 45px;
  font-family: 'MainFont';
  font-size: 20px; }
.skills__info {
  margin: auto;
  padding-top: 30px; }
.skills__list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px; }
  .skills__list__item, .skills__list__item-reverse {
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 15px;
    height: 500px;
    justify-content: space-around;
    justify-content: center; }
    .skills__list__item:before, .skills__list__item-reverse:before {
      display: none; }
    .skills__list__item-reverse, .skills__list__item-reverse-reverse {
      display: flex;
      flex-direction: row-reverse; }
    .skills__list__item__img, .skills__list__item-reverse__img {
      width: 50%; }
      .skills__list__item__img__el, .skills__list__item-reverse__img__el {
        width: 80%;
        height: 95%;
        background-size: cover; }
    .skills__list__item__el, .skills__list__item-reverse__el {
      display: flex;
      flex-direction: column;
      width: 50%;
      align-items: flex-start;
      gap: 20px; }
      .skills__list__item__el__title, .skills__list__item-reverse__el__title {
        font-weight: 800;
        text-align: left;
        font-size: 18px;
        margin-bottom: 5px;
        text-transform: uppercase;
        text-decoration: underline; }
      .skills__list__item__el__text, .skills__list__item-reverse__el__text {
        font-weight: 500;
        text-align: left;
        font-size: 20px; }
        .skills__list__item__el__text:before, .skills__list__item-reverse__el__text:before {
          content: '-';
          margin-right: 5px; }

.advantages__container {
  margin-top: 40px; }
  .advantages__container__element {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .advantages__container__element__item {
      width: 30%;
      border: 1px solid var(--bg-color);
      border-radius: 7px;
      margin-top: 20px;
      padding: 10px 15px; }

h2 {
  text-align: center; }

.price__container {
  margin-top: 40px; }
  .price__container__el {
    display: flex;
    justify-content: space-between; }
    .price__container__el__item {
      width: 30%;
      height: 350px;
      border: 1px solid var(--bg-color);
      border-radius: 5px;
      padding: 40px 30px;
      text-align: center;
      line-height: 2;
      margin-top: 20px; }
      .price__container__el__item > ul {
        text-align: left; }
      .price__container__el__item__info {
        height: 200px; }

.qualification__container__info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  line-height: 2; }

.footer {
  background: var(--bg-color);
  margin-top: 100px; }

/*# sourceMappingURL=main.css.map */
