.price__container {
    margin-top: 40px;
    &__el {
        display: flex;
        flex-direction: column;
        &__item{
            // width: 30%;
            height: 620px;
            border: 4px solid var(--bg-color);
            border-radius: 5px;
            padding: 40px 30px;
            // text-align: center;
            line-height: 1.6;
            margin-top: 20px;
            & > ul {
                text-align: left;
            }   
            // &__info{
            //     // height: 800px;
            // }
        }

    }
}
