.problems {
  &__header {
    max-width: 705px;
    margin: auto;
    position: relative;
    &__h2 {
      margin-bottom: 60px;
    }
    &__img {
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.problems__hint__img{
  display: none;
}

@media(max-width: 320px){
  .problems__container{
    padding: 0;
  }
  .problems__hint__img{
    display: block;
  }
  .problems__img{
    display: none;
  }
}