.problems {
  &__header {
    max-width: 705px;
    margin: auto;
    position: relative;
    &__h2 {
      margin-bottom: 60px;
    }
    &__img {
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.problems__hint__320{
  display: none;
}
.problems__hint__600{
  display: none;
}
.problems__hint__900{
  display: none;
}

@media(max-width: 900px){
  .problems__header{
    max-width: 460px;
    padding-left: 2%;
    padding-right: 2%;
  }

  .problems__hint__900{
    display: block;
  }
  .problems__desk{
    display: none;
  }
}
@media(max-width: 650px){
  .problems__container{
    padding: 0;
  }
  .problems__hint__900{
    display: none;
  }
  .problems__hint__600{
    display: block;
  }
}

@media(max-width: 440px){
  .problems__hint__600{
    display: none;
  }
  .problems__hint__320{
    display: block;
  }
}