.qualification__title {
  width: 476px;
  position: relative;
  margin: 0 auto 60px;
  text-align: center;
  &__img {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__text {
    margin: 0 auto 0;
  }
}
.qualification__info {
  display: flex;
  justify-content: space-between;
  &__univer {
    display: flex;
    flex-direction: column;
    &__h3 {
      text-transform: uppercase;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      list-style-position: initial;
      align-items: end;
      &__el {
        border-bottom: 2px solid #c1c4c7;
        padding-bottom: 8px;
        position: relative;
        padding-right: 120px;
        // min-height: 55px;
        &__span {
          font-family: "MainFontH";
          color: #1a5186;
          font-weight: 600;
          font-size: 16px;
          position: absolute;
          right: 0;
        }
      }
    }
  }
  &__diploma {
    display: flex;
    align-items: center;
    gap: 20px;

    &__arrow {
      width: 20px;
      cursor: pointer;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }

    &__imgs {

      max-width: 484px;
      max-height: 418px;
      background: #fbfdff;
      border: 2px dashed #b1c0cf;
      border-radius: 25px;

      // Переопределение стилей Swiper
      &.swiper {
        padding: 0 95px !important; // Важно переопределить
        overflow: visible; // Чтобы не обрезало тени

        .swiper-wrapper {
          padding: 0; // Сбрасываем внутренние отступы
          box-sizing: border-box;
        }

        .swiper-slide {
          padding: 10px; // Отступы внутри слайда
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &__el {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 22px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

// Адаптивность
@media (max-width: 768px) {
  .qualification {
    &__info {
      flex-direction: column;
      &__diploma {
        &__imgs {
          padding: 0 40px;
          max-height: 350px;
        }
      }
    }
  }
}
