.qualification__title {
  max-width: 476px;
  position: relative;
  margin: 0 auto 60px;
  text-align: center;
  &__img {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__text {
    margin: 0 auto 0;
  }
}
.qualification__info {
  display: flex;
  justify-content: space-between;
  &__univer {
    display: flex;
    flex-direction: column;
    &__h3 {
      text-transform: uppercase;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      list-style-position: initial;
      align-items: end;
      &__el {
        border-bottom: 2px solid #c1c4c7;
        padding-bottom: 8px;
        position: relative;
        padding-right: 120px;
        // min-height: 55px;
        &__span {
          font-family: "MainFontH";
          color: #1a5186;
          font-weight: 600;
          font-size: 16px;
          position: absolute;
          right: 0;
        }
      }
    }
  }
  &__diploma {
    display: flex;
    align-items: center;
    gap: 20px;

    &__arrow {
      width: 20px;
      cursor: pointer;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }

    &__imgs {
      max-width: 484px;
      max-height: 418px;
      background: #fbfdff;
      border: 2px dashed #b1c0cf;
      border-radius: 25px;

      &.swiper {
        padding: 0 95px; 

        .swiper-wrapper {
          padding: 0; // Сбрасываем внутренние отступы
          box-sizing: border-box;
        }

        .swiper-slide {
          padding: 10px; // Отступы внутри слайда
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &__el {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 22px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
@media (max-width: 1300px) {
  .qualification__info__diploma__imgs.swiper {
    padding: 0px 10%;
  }

  .qualification__info__diploma__imgs {
    max-height: 100%;
  }
  .qualification__info {
    align-items: flex-end;
    justify-content: space-around;
  }
  .qualification__info__univer__list {
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
  }
}

@media (max-width: 980px) {
  .qualification__info__diploma__imgs.swiper {
    padding: 0 30px;
  }
  .qualification__info__diploma__imgs {
    max-width: 400px;
  }
}
@media (max-width: 900px) {
  .qualification {
    &__info {
      flex-direction: column;
      align-items: center;
      &__diploma {
        &__imgs {
          padding: 0 40px;
          // max-height: 350px;
        }
      }
    }
    .qualification__info__univer__h3{
      text-align: center;
    }
    .qualification__info__univer__list__el:last-child {
      margin-bottom: 20px;
    }
  }
  .qualification__info__univer__list {
    width: 468px;
  }
}
@media (max-width: 500px) {
  .qualification__info__univer__list__el {
    padding-right: 0;
  }

  .qualification__info__univer__list {
    width: auto;
  }
  .qualification__info__diploma__imgs {
    max-width: 340px;
  }
  .qualification__info__diploma__imgs {
    .swiper-slide {
      max-width: 276px;
    }
  }
}
