.start__container {
    display: flex;
    margin-top: 76px;
    background-color: #FBFDFF;
    // max-width: 70%;
    border-radius: 50px;
    border: 2px dashed #B1C0CF;
    padding: 32px;
   
    &__hero {
        max-width: 40%;
        margin: auto;
        // height: 700px;
        // &__img{
        //     border-radius: 50%;
        //     background-color: #fdf5db;
        //     -webkit-box-shadow: 27px -13px 15px 0px rgba(51, 107, 149, 0.2);
        //     -moz-box-shadow: 27px -13px 15px 0px rgba(51, 107, 149, 0.2);
        //     box-shadow: 27px -13px 15px 0px rgba(51, 107, 149, 0.2);
        // }
    }
    &__heroInfo {
        font-family: 'MainFont';
        max-width: 60%;
        margin: auto;
        &__base{
            font-size: 24px;
            color: #0E0E0E;
            font-weight: 500;
            display: flex;
            gap: 25px;
        
        &__activity{
            position: relative;
            padding-left: 20px;
            &::before{
                content: '';
                background-image: url(../img/dot.svg);
                position: absolute; 
                left: 0; 
                top: 27%;
                transform: translateY(-5%);
                width: 11px; 
                height: 11px; 
                background-repeat: no-repeat;
            }
        }
        }
    }
    &__info {
        font-size: 1.2vw;
        line-height: 25px;
        color: #63676C;
        margin-top: 40px;
    }

}

p {
    margin-bottom: 1.5rem;
}

button {
    width: auto;
    height: 45px;
    border-radius: 25px;
    background-color: #1A5186;
    color: #FFFFFF;
    line-height: 150%;
    padding: 28px 55px;
    font-size: 24px;
    font-weight: 500;
    font-family: "MainFont";
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    background-color: #276EB3;
}


