.start {
  &__wrapper {
    display: flex;
    margin-top: 76px;
    background-color: #fbfdff;
    border-radius: 50px;
    border: 2px dashed #b1c0cf;
    padding: 32px;
    gap: 5px;
    &__hero {
      max-width: 40%;
      margin: auto;
      &__hint {
        display: none;
      }
    }
    &__heroInfo {
      font-family: "MainFont";
      max-width: 60%;
      margin: auto;
      &__base {
        font-size: 24px;
        color: #0e0e0e;
        font-weight: 500;
        display: flex;
        gap: 25px;
        margin-bottom: 10px;

        &__activity {
          position: relative;
          padding-left: 20px;
          &::before {
            content: "";
            background-image: url(../img/dot.svg);
            position: absolute;
            left: 0;
            top: 30%;
            transform: translateY(-5%);
            width: 11px;
            height: 11px;
            background-repeat: no-repeat;
          }
        }
      }
    }
    &__info {
      font-size: 1.2vw;
      // line-height: 25px;
      color: #63676c;
      margin-top: 12px;
      &__p {
        font-size: 20px;
        max-width: 600px;
      }
    }
  }
}

// p {
//     margin-bottom: 1.5rem;
// }

button {
  width: auto;
  height: 45px;
  border-radius: 25px;
  background-color: #1a5186;
  color: #ffffff;
  line-height: 1.5;
  padding: 28px 55px;
  font-size: 24px;
  font-weight: 500;
  font-family: "MainFont";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
}
button:hover {
  background-color: #276eb3;
}
.hint__h1 {
  display: none;
}
@media (max-width: 1300px) {
  .start__wrapper {
    gap: 15px;
  }
}

@media (max-width: 1140px) {
  .h1 {
    font-size: 40px;
  }
  .start__wrapper__info__p {
    font-size: 18px;
  }
}
@media (max-width: 900px){
    .h1 {
        font-size: 32px;
    }
    .start__wrapper__info__p {
        font-size: 14px;
    }
    .button{
      margin-top: 37px;
    }
    .start__wrapper__heroInfo__base {
    font-size: 22px;
    }
    
}

@media (max-width: 750px) {
  .start__wrapper {
    flex-direction: column;
    text-align: center;
  }

  .h1 {
    display: none;
  }
  .hint__h1 {
    display: block;
    font-size: 44px;
    margin-bottom: 30px;
  }
  .start__wrapper__hero {
    max-width: 500px;
  }
  .start__wrapper__heroInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
  }
  .start__wrapper__hero__hint {
    display: block;
  }
  .start__wrapper__hero {
    display: none;
  }
  .start__container {
    padding: 0;
  }
}
