.advantages__container{
    margin-top: 40px;
    &__element{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;    
        &__item{
            width: 30%;
            border: 1px solid var(--bg-color);
            border-radius: 7px;
            margin-top: 20px;
            padding: 10px 15px;
        }
    }
}

h2 {
    text-align: center;
}